// Configuration for the ESP
const char* ssid = "Your network name";
const char* password = "Your network password";
const char* knodge_user_key = "Knodge User API Key";
const char* knodge_thing_key = "Knodge Thing API Key";
const char* target = "https://api.knodge.com/v1/event";
const char* pskey = "A pre-shared string known to the client and server";

